@charset "utf-8";

/* article styles */

article {
    float: left; /* box model with margins padding and border, use borderline to see box */
    width: 385px;
}

article p:first-of-type::first-line {
    /* first line of first paragraph */
    font-size: 1.25em;
    font-variant: small-caps;
}

article p:first-of-type::first-letter {
    font-family: serif;
    font-size: 4em;
    float: left;
    line-height: 0.8em;
    margin-right: 5px;
    margin-bottom: 5px;
}

/* aside style */
aside {
    float: left;
    width: 768px;
}

/* map styles */
div#battleMap {
    position: relative;
    margin: 20px auto;
    width: 688px;
}

img#mapImage {
    display: block;
    width: 100%;
}

/* interactive map styles */
a.battleMarkers {
    position: absolute;
}

a#marker1 {
    top: 57px;
    left: 49px;
}

a#marker2 {
    top: 194px;
    left: 358px;
}

a#marker3 {
    top: 202px;
    left: 404px;
}

a#marker4 {
    top: 217px;
    left: 352px;
}

a#marker5 {
    top: 229px;
    left: 498px;
}

a#marker6 {
    top: 257px;
    left: 544px;
}

