@charset "utf-8";

article p:first-of-type::first-line {
    font-size: 1.25em;
    font-variant: small-caps;
}

article p:first-of-type::first-letter {
    font-family: serif;
    font-size: 4em;
    float: left;
    line-height: 0.8em;
    margin-right: 5px;
    margin-bottom: 5px;
}

div#battleMap {
    position: relative;
    margin: 20px auto 80px auto;
    width: 688px;
}

img#mapImage {
    display: block;
    width: 100%;
}

a.battleMarkers {
    position: absolute;
    cursor: pointer;
}

a.battleMarkers img {
    width: 28px;
    height: auto;
    display: block;
    transform: translate(-50%, -100%);
}

/* marker coordinates */
a#marker1 {
    top: 57px;
    left: 49px;
}

a#marker2 {
    top: 194px;
    left: 358px;
}

a#marker3 {
    top: 202px;
    left: 404px;
}

a#marker4 {
    top: 217px;
    left: 352px;
}

a#marker5 {
    top: 229px;
    left: 498px;
}

a#marker6 {
    top: 257px;
    left: 544px;
}

div.mapInfo {
    display: none;
}

.battleMarkers:hover + div.mapInfo,
.battleMarkers + div.mapInfo:hover {
    display: block;
}
