@charset "utf-8";

/* General Styles */

address,
article,
aside,
blockquote,
body,
cite,
div,
dl,
dt,
dd,
em,
figcaption,
figure,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
img,
li,
main,
nav,
ol,
p,
section,
span,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    background-color: #fffbef;

}

/* body styles */
body {
    margin: 0 0 auto;
    background-color: rgb(216, 200, 153);
    font-family: verdana, geneva, tahoma, san-serif;
    font-size: 16px;
    width: 1152px;
}

body > header > img {
    display: block;
    width: 100%
}