@charset "utf-8";

/* Reset / base styles */

address,
article,
aside,
blockquote,
body,
cite,
div,
dl,
dt,
dd,
em,
figcaption,
figure,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
img,
li,
main,
nav,
ol,
p,
section,
span,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    background-color: #fffbef;
}

body {
    margin: 0 auto;  /* center fixed-width layout */
    background-color: rgb(216, 200, 153);
    font-family: "MedievalSharp", cursive;
    font-size: 16px;
    width: 1152px;
}

body > header > img {
    display: block;
    width: 100%;
}

nav.horizontal ul {
    list-style: none;
}

nav.horizontal ul li {
    background-color: rgb(97, 88, 70);
    display: block;
    font-size: 14.25px;
    float: left;
    line-height: 30px;
    height: 30px;
    width: 144px; /* 8 items * 144px = 1152px */
}

nav.horizontal a {
    display: block;
    text-align: center;
    text-decoration: none;
}

nav.horizontal a:link,
nav.horizontal a:visited {
    color: rgb(216, 194, 157);
}

nav.horizontal a:hover,
nav.horizontal a:active {
    background-color: rgb(226, 56, 45);
}

body > article {
    background-color: rgb(182, 162, 132);
    float: left;
    width: 384px; /* 384 + 768 = 1152 */
}

body > article > h1 {
    font-size: 1.5em;
    padding: 20px 20px 0 20px;
    font-family: "UnifrakturMaguntia", cursive;
}

body > article > p {
    margin: 20px;
}

body > aside {
    float: left;
    width: 768px;
    background-color: rgb(182, 162, 132);
}

body > aside h1 {
    font-size: 1.5em;
    margin: 20px;
}

aside p {
    line-height: 1.4em;
    margin: 0 20px 20px 20px;
}

div.mapInfo {
    background-color: rgb(144, 24, 26);
    color: rgb(214, 192, 144);
    margin-top: 20px;
    padding-bottom: 20px;
}

div.mapInfo h2 {
    background-color: rgb(85, 87, 70);
    font-size: 22px;
    font-weight: normal;
    padding: 10px 20px;
}

div.mapInfo p {
    padding: 10px 20px 0 20px;
}

body > footer {
    background-color: rgb(52, 56, 45);
    clear: both;
    color: rgb(216, 194, 157);
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
}
